@import "../../../../globalConfiguration/globalConstants";

.page {
    margin: 5px;
    background-color: $primaryBackgroundColor;
    flex: 1;
    justify-content: center;
    align-items: center;
}
