.gridContainer {
  flex-direction: column;
  height: 130px; // flex: 0.4;
  /* max-height: 500px;*/
  margin-top: 25px;
}

.gridRow {
  flex: 0.85;
  flex-direction: row;
  justify-content: space-between;
}

.gridElem {
  width: 50px;
  height: 50px;
}
