# Secret files are pushed to Github, as the repo is private and we might change them anyways -> *.secrets.ts

node_modules/**/*
/dist/**/*
.expo/*
npm-debug.*
*.jks
*.p12
*.key
*.mobileprovision

.jest/
coverage/
