

.parentContainer {
  margin-right:10px;
}

.button {
  background-color: #9B9B9B;
  border-radius: 6px;
  padding-top: -0.5px;
  padding-bottom: -0.25px;
}

.container {
  margin-top:10px;
}

.title {
  color: #fff;
}