
// LAYOUT: TODO: https://medium.com/wix-engineering/the-full-react-native-layout-cheat-sheet-a4147802405c
// FORM VALIDATOR YUP: TODO: https://medium.com/fotontech/react-native-formik-yup-%EF%B8%8F-18465e020ea0
// OAUTH FIREBASE (EASY AND COMPLETELY FREE): TODO: https://console.firebase.google.com/project/bekind-ff90c/authentication/providers

.container {
  background-color: #fefefe;
  flex:1;
  justify-content: center;
  align-items: center;

  .button {
    margin: 10px 4px 4px 4px;
    width: 33%;
  }
}


