@import "base";

.listElem {
    margin-bottom: 20px;
}

/** For react-native-elements input */
.textLabel {
    color: $primaryColor;
}

.leftIconContainer {
    margin-right: 5px;
    margin-left: -3px;
}

.rightIconContainer {
    margin-left: 5px;
}

/** For react-native-elements buttons */
.btn {
    padding-left: 5px;
    padding-right: 5px;
}

.input {
    margin-bottom: 8px;
}
