@import "base";

.listElem {
    margin-bottom: 20px;
}

.textLabel {
    color: $primaryColor;
}

.leftIconContainer {
    margin-right: 5px;
    margin-left: -3px;
}

.rightIconContainer {
    margin-left: 5px;
}