@import "base";

.listElem {
    margin-bottom: 15px;
}

.textLabel {
    color: $primaryColor;
}

.leftIconContainer {
    margin-right: 5px;
    margin-left: -10px;
}

.rightIconContainer {
    margin-left: 5px;
}