.post_container {
  margin-bottom: 10px;
  padding: 5px;
  border: 1px #ccc solid;

  .post_title {
    font-weight: bold;
    display: block;
  }

  .post_descr {
    margin-top: 3px;
    margin-bottom: 6px;
  }

  .post_uploaddatetime {
    color: #ccc;
    font-size: 7px;
  }
}
